body{
    background:;
    color;

}

.container{

}

.heading{
    text-align: center;
    font-size: 42px;
    
}
.card{
    background-color:;
    
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color:#6366F1;

}
.btn-box{
    text-align: center;
    margin-top: 20px;
}